<div class="nested-fields">
  <table>
    <thead>
      <th></th>
      <th></th>
      <th>Status</th>
      <th></th>
    </thead>

    <tbody>
      <tr>
        <td><%= f.text_field :name, placeholder:"nome do tópico" %></td>
        <td><%= f.text_field :description, placeholder:"descreva..." %></td>
        <td><%= select_tag "status", options_for_select(["concluído", "em andamento", "pendente"]) %></td>        
        <td><%= link_to_remove_association('', f, class:"btn btn-danger fa fa-trash") %></td>
      </tr>
      
    </tbody>
  </table>

</div>