<div class="row">
  <div class="col-md-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Calendar Events <small>Sessions</small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Settings 1</a>
                <a class="dropdown-item" href="#">Settings 2</a>
              </div>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <div id="calendar" class="fc fc-unthemed fc-ltr">
          <div class="fc-toolbar fc-header-toolbar">
            <div class="fc-left"><div class="fc-button-group">
              <button type="button" class="fc-prev-button fc-button fc-state-default fc-corner-left">
                <span class="fc-icon fc-icon-left-single-arrow"></span>
              </button>
              
              <button type="button" class="fc-next-button fc-button fc-state-default fc-corner-right">
                <span class="fc-icon fc-icon-right-single-arrow"></span>
              </button>
              
              </div>
                <button type="button" class="fc-today-button fc-button fc-state-default fc-corner-left fc-corner-right fc-state-disabled" disabled="">today
                </button>
              </div>
              
              <div class="fc-right">
                <div class="fc-button-group">
                  <button type="button" class="fc-month-button fc-button fc-state-default fc-corner-left">month</button>
                  <button type="button" class="fc-agendaWeek-button fc-button fc-state-default">week</button>
                  <button type="button" class="fc-agendaDay-button fc-button fc-state-default">day</button>
                  <button type="button" class="fc-listMonth-button fc-button fc-state-default fc-corner-right fc-state-active">list</button> 
                </div>
              </div>
              
              <div class="fc-center">
                <h2>January 2022</h2>
                </div>
                  <div class="fc-clear"></div>
                </div>
                
                <div class="fc-view-container" style="">
                  <div class="fc-view fc-listMonth-view fc-list-view fc-widget-content" style="">
                    <div class="fc-scroller" style="overflow: hidden auto; height: 542px;">
                      <table class="fc-list-table">
                        <tbody>
                          <tr class="fc-list-heading" data-date="2022-01-01">
                            <td class="fc-widget-header" colspan="3">
                              <span class="fc-list-heading-main">January 1, 2022</span>
                              <span class="fc-list-heading-alt">Saturday</span>
                              
                            </td>
                          </tr>
                          
                          <tr class="fc-list-item">
                            <td class="fc-list-item-time fc-widget-content">12:00am</td>
                            <td class="fc-list-item-marker fc-widget-content">
                              <span class="fc-event-dot"></span>
                            </td>
                            <td class="fc-list-item-title fc-widget-content">
                              <a>All Day Event</a>
                            </td>
                          </tr>
                          
                          <tr class="fc-list-heading" data-date="2022-01-18">
                            <td class="fc-widget-header" colspan="3">
                              <span class="fc-list-heading-main">January 18, 2022</span>
                              <span class="fc-list-heading-alt">Tuesday</span>
                            </td>
                          </tr>
                          
                          <tr class="fc-list-item">
                            <td class="fc-list-item-time fc-widget-content">12:00am - 12:00am</td>
                            <td class="fc-list-item-marker fc-widget-content">
                              <span class="fc-event-dot"></span></td><td class="fc-list-item-title fc-widget-content"><a>Long Event</a></td></tr><tr class="fc-list-heading" data-date="2022-01-19"><td class="fc-widget-header" colspan="3"><span class="fc-list-heading-main">January 19, 2022</span><span class="fc-list-heading-alt">Wednesday</span></td></tr><tr class="fc-list-item"><td class="fc-list-item-time fc-widget-content">all-day</td><td class="fc-list-item-marker fc-widget-content"><span class="fc-event-dot"></span></td><td class="fc-list-item-title fc-widget-content"><a>Long Event</a></td></tr><tr class="fc-list-heading" data-date="2022-01-20"><td class="fc-widget-header" colspan="3"><span class="fc-list-heading-main">January 20, 2022</span><span class="fc-list-heading-alt">Thursday</span></td></tr><tr class="fc-list-item"><td class="fc-list-item-time fc-widget-content">12:00am - 12:00am</td><td class="fc-list-item-marker fc-widget-content"><span class="fc-event-dot"></span></td><td class="fc-list-item-title fc-widget-content"><a>Long Event</a></td></tr><tr class="fc-list-heading" data-date="2022-01-23"><td class="fc-widget-header" colspan="3"><span class="fc-list-heading-main">January 23, 2022</span><span class="fc-list-heading-alt">Sunday</span></td></tr><tr class="fc-list-item"><td class="fc-list-item-time fc-widget-content">10:30am</td><td class="fc-list-item-marker fc-widget-content"><span class="fc-event-dot"></span></td><td class="fc-list-item-title fc-widget-content"><a>Meeting</a></td></tr><tr class="fc-list-heading" data-date="2022-01-24"><td class="fc-widget-header" colspan="3"><span class="fc-list-heading-main">January 24, 2022</span><span class="fc-list-heading-alt">Monday</span></td></tr><tr class="fc-list-item"><td class="fc-list-item-time fc-widget-content">7:00pm - 10:30pm</td><td class="fc-list-item-marker fc-widget-content"><span class="fc-event-dot"></span></td><td class="fc-list-item-title fc-widget-content"><a>Birthday Party</a></td></tr><tr class="fc-list-heading" data-date="2022-01-28"><td class="fc-widget-header" colspan="3"><span class="fc-list-heading-main">January 28, 2022</span><span class="fc-list-heading-alt">Friday</span></td></tr><tr class="fc-list-item fc-has-url"><td class="fc-list-item-time fc-widget-content">12:00am - 12:00am</td><td class="fc-list-item-marker fc-widget-content"><span class="fc-event-dot"></span></td><td class="fc-list-item-title fc-widget-content"><a href="http://google.com/">Click for Google</a></td></tr></tbody></table></div></div></div></div>

      </div>
    </div>
  </div>
</div>