<div class="row">
  <div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
      <div class="x_title">
        <h2><span class='icon'><i class='fa fa-bullseye'></i></span> Novo Objetivo</h2>
        <div class="clearfix"></div>
      </div>

      <div class="x_content">
        <%= render 'form', objective: @objective %>
      </div>
    </div>
  </div>
</div>
