// Place all the styles related to the welcome_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card {
  width: 100%;
  margin: 150px auto;
}

.header-welcome-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-position {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}